<!DOCTYPE html>
<title>Vue.js SPAのサンプルアプリケーション</title>
<div id="app">
    <nav>
        <!-- router-link によるナビゲーション定義 -->
        <router-link to="/top">トップページ</router-link>
        <router-link to="/users">ユーザ一覧ページ</router-link>
        <router-link to="/users/new?redirect=true">新規ユーザ登録</router-link>
        <router-link to="/login" v-show="!Auth.loggedIn()">ログイン</router-link>
        <router-link to="/logout" v-show="Auth.loggedIn()">ログアウト</router-link>
    </nav>
    <router-view></router-view>
</div>

<!-- Vue.js本体とVue Routerの読み込み -->
<script src="https://unpkg.com/vue@2.5.17"></script>
<script src="https://unpkg.com/vue-router@3.0.1"></script>

<!-- 必要な分のコンポーネントのテンプレート定義 -->
<script type="text/x-template" id="user-list">
    <!-- ここにコンポーネントのtemplateを記載する -->
    <div>
        <div class="loading" v-if="loading">
            読み込み中...
        </div>
        <div v-if="error" class="error">
            {{error}}
        </div>
        <!-- usersがロードされたら各ユーザーの名前を表示する -->
        <div v-for="user in users" :key="user.id">
            <router-link :to="{path: '/users/' + user.id}">{{ user.name }}</router-link>
        </div>
    </div>
</script>

<script type="text/x-template" id="user-create">
    <div>
        <div class="sending" v-if="sending">Sending...</div>
        <div>
            <h2>新規ユーザー作成</h2>
            <div>
                <label>名前：</label>
                <input type="text" v-model="user.name">
            </div>
            <div>
                <label>説明文：</label>
                <textarea v-model="user.description"></textarea>
            </div>
            <div v-if="error" class="error">
                {{ error }}
            </div>
            <div>
                <input type="button" @click="createUser" value="送信"> 
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="user-detail">
    <!-- ここにコンポーネントのtemplateを記載する -->
    <div>
        <div class="loading" v-if="loading">
            読み込み中...
        </div>
        <div v-if="error" class="error">
            {{error}}
        </div>
        <!-- usersがロードされたら各ユーザーの名前を表示する -->
        <div v-if="user">
            <h2>{{ user.name }}</h2>
            <p>{{ user.description }}</p>
        </div>
    </div>
</script>

<script type="text/x-template" id="login">
    <div>
        <h2>Login</h2>
        <p v-if="$route.query.redirect">
            ログインしてください
        </p>
        <form @submit.prevent="login">
            <label><input v-model="email" placeholder="email"></label>
            <label><input v-model="pass" placeholder="password" type="password"></label>
            <br>
            <button type="submit">ログイン</button>
            <p v-if="error" class="error">ログインに失敗しました</p>
        </form>
    </div>
</script>

<!-- 任意のJS実装 -->
<script src="./auth.js"></script>
<script src="./getUserDetail.js"></script>
<script src="./login.js"></script>
<script src="./getUsers.js"></script>
<script src="./createUser.js"></script>

<script>

    var router = new VueRouter({
        routes: [
            {
                path: '/top',
                component: {
                    template: '<div>トップページです。</div>'
                }
            },
            {
                path: '/users',
                component: UserList
            },
            {
                path: '/users/new',
                component: UserCreate,
                beforeEnter: function (to, from, next) {
                    // 認証されていない状態でアクセスした時はloginページに遷移する
                    if (!Auth.loggedIn()) {
                        next({
                            path: '/login',
                            query: { redirect: to.fullPath }
                        })
                    } else {
                        // 認証済みであればそのまま新規ユーザ作成ページへ進む
                        next()
                    }
                }
            },
            {
                path: '/users/:userId',
                component: UserDetail
            },
            {
                path: '/login',
                component: Login
            },
            {
                path: '/logout',
                beforeEnter: function (to, from, next) {
                    Auth.logout()
                    next('/')
                }
            }
        ]
    })

    var app = new Vue({
        data: {
            Auth: Auth
        },
        router: router
    }).$mount('#app')
</script>
